<div class="row">
    <div class="col-12">
        <h2>{{animal.name}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>ID: {{animal.id}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Sound: {{animal.sound}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            <a href="/">Go Home</a>
        </p>
    </div>
</div>
